/*-------------------------*/
/*-- BASIC SETUP ----------*/
/*-------------------------*/

html {
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
}

.box {
    padding: 1%;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------*/
/*-- HEADER  --------------*/
/*-------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor.png);
    background-size: contain;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff; 
    font-size: 240%; 
}

h1, 
h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h2 {
    font-size: 170%;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #1abc9c;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
}

.logo {
    height: 90px;
    width: auto;
    float: left;
    margin-top: 30px;
}

/*-------------------------*/
/*-- NAVIGATION    --------*/
/*-------------------------*/

.main-nav {
    float: right; 
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 80px;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1abc9c;
}

/*-------------------------*/
/*-- PROJECTS   --------*/
/*-------------------------*/

.section-testimonials h2,
.section-testimonials h3,
.section-testimonials p {
    color: #555;
    text-align: center;
}

.section-testimonials p {
    margin: 14px 30px 0px 30px;
    font-weight: 300;
    font-size: 85%
}

.section-steps {
    background-color: #ecf0f1;
}

.steps-box:first-child {
    text-align: center;
    margin-top: 60px;
}

.works-step {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 130px;
    width: auto;
    padding: 0 20px;
}

.section-testimonials {
    background-color: #ecf0f1;
    background-size: cover;
    background-attachment: fixed;
}

.projects img {
    width: 90%;
    height: auto; 
    margin-left: 15px;
}

/*-------------------------*/
/*-- ABOUT ME      --------*/
/*-------------------------*/


.section-plans {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.section-plans h2 {
    color: #fff;
    font-size: 170%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

.section-plans h3 {
    color: #fff;
    font-size: 130%;
}

/*-------------------------*/
/*-- BUTTONS       --------*/
/*-------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px; 
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #1abc9c;
    color: #1abc9c;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #16a085;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #16a085;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #16a085;
    color: #fff;
}

.btn {
    text-align: center;
}



















