/*-------------------------
GLOBAL STYLES 
-------------------------*/
html {
    background-color: #fff;
    font-size: 20px;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #F4F4F4;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    color: #532c4c;
}

.white-txt {
    color:white;
}

#content-desktop {
display: inline;
}

#content-mobile {
display: none;
}

/*-------------------------
NAVIGATION 
-------------------------*/
.logo {
    text-align: center;
    max-width: 30%;
    max-height: auto;
    margin-top: 20px;
    margin-left: 10%;
}

.main-nav {
    float: right; 
    list-style: none;
    margin-top: 5%;
    padding-right: 1%;
}

.main-nav li {
    display: inline-block;
    margin: 0 40px;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1abc9c;
}

/*-------------------------
HEADERS & TEXT
-------------------------*/
h1 {
    font-family: 'Josefin Slab';
    margin-left: 3%;
    margin-top: 8%;
    font-size: 220%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    color: #FFF;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 170%;
    text-align: center;
    color: #555;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #1abc9c;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 140%;
    text-align: center;
    color: #1abc9c;
}

p {
    font-size: 100%;
    line-height: 155%;
    font-weight: 300;
    word-spacing: 3px;
    padding: 0px 60px 0px 60px;
    text-align: center;
    color: #555;
}

/*-------------------------
BACKGROUNDS
-------------------------*/
.bg-leaf-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-attachment: fixed;
}

.bg-leaf-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
}

.nav-pages {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor.png);
     background-size: cover;
     background-position: center;
     height: 22vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }

.screen {
     background-image: url(img/oakheroimage.png);
     background-size: cover;
     background-position: center;
     height: 50vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }

.screen-libra {
     background-image: url(img/libraheroimage.png);
     background-size: cover;
     background-position: center;
     height: 50vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }

.tap-pages {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor.png);
     background-size: cover;
     background-position: center;
     height: 390vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }

.oak-pages {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor.png);
     background-size: cover;
     background-position: center;
     height: 130vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }

.libra-pages {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/watercolor.png);
     background-size: cover;
     background-position: center;
     height: 220vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }


.hero {
    background-color: #fff;
    text-align: center;
}

.white {
    background-color: white;
}

/*-------------------------
BUTTONS
-------------------------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px; 
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-top: 4%; 
    margin-bottom: 5%
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #16a085;
}
    
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #16a085;
}


/*-------------------------
FOOTER
-------------------------*/
.footer-nav,
.footer-nav-left {
    background-color: #1abc9c;
    padding: 30px 0px; 
}

.footer-nav-left {
    float: left;
    margin-left: 30px;
}

.footer-nav li {
    float: right; 
    list-style: none;
    display: inline-block;
    margin-right: 80px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    border-bottom: 2px solid #555;
}
    
.btn-app img {
    height: 50px;
    width: auto;
    padding-left: 50px;
    display: block;
}

/*-------------------------
FOOTER
-------------------------*/
/* GREEN COLOR: #16a085 */
ul {     
    padding:0;     
    margin:0;   
} 

a {    
    display:block;    
    text-decoration: none;
}   

li {    
    display:block;     
    float:left; 
}   

li ul li {    
    float:none;    
} 

li ul {    
    display:none;     
    position:absolute;     
    z-index:1    
} 

li:hover ul {    
    display:block;
}

/*-------------------------
DROPDOWN MENU
-------------------------*/
#menu {    
    height:30px    
}    
#menu a {    
    color:#16a085;     
    padding:10px 15px 10px 15px;    
}    
#menu a:hover {    
    color:#F4F4F4;    
}    
#menu li {    
    background-color:#F4F4F4;     
    border:solid 1px #16a085;      
    margin-left:-1px; 
    width: 200%;
}    
#menu li:hover {    
    background-color: #16a085; 
    transition: background-color 0.5s ease;
}  

/*-------------------------
ABOUT
-------------------------*/
/* GREEN COLOR: #16a085 */
.selfie {
    height: 400px;
    width: auto;
    margin-left: 30%;
    margin-top: 2.5%;
    border-radius: 20%;
    box-shadow: 2px 2px 10px #16a085;
}

/*-------------------------
PROJECT PAGES
-------------------------*/
/* GREEN COLOR: #16a085 */
.persona {
    width: 60%;
    height: auto;
    padding-left: 20%;
}

.persona-libra {
    width: 60%;
    height: auto;
    margin-left: 30%;
}
