.projectButtons {
  padding: 25px;
  margin-left: 80px;
}

.projectButtons1 {
  padding-top: 45px;
  margin-left: 80px;
}

.summary {
  font-family: Catamaran;
  color: #040404;
  font-size: 18px;
  float: right;
  max-width: 500px;
 margin-right: 100px;
}
